<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>ktran.info</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
  <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
  <nav class="black test" role="navigation">
    <div style="width:90%" class="nav-wrapper container"><a id="logo-container" href="#"
        class="brand-logo">ktran.info</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="./index.html">Home</a></li>
        <li><a href="#">Porfolio</a></li>
        <li><a href="#">Tutorials</a></li>
        <li><a href="./thoughts">Thoughts</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="./index.html">Home</a></li>
        <li><a href="#">Porfolio</a></li>
        <li><a href="#">Tutorials</a></li>
        <li><a href="./site/blog.html">Thoughts</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center black-text test">Kevin Tran</h1>
      <div class="row center">
        <h5 class="header col s12 light">I wanted to make a space where I keep my work and thoughts in one
          place, clutter free and clean.</h5>
      </div>
      <div class="row center">

        <ul style="  
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          text-align: center;">
          <li><a href="#">Github</a></li>
          <li><a href="#">LinkedIn</a></li>
          <li><a href="#">Resume</a></li>
        </ul>

      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s4 ">
          <div class="card white darken-1">
            <div class="card-content black-text">
              <span class="card-title">Card Title</span>
              <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
            </div>
          </div>
        </div>
        <div class="col s4 ">
          <div class="card white darken-1">
            <div class="card-content black-text">
              <span class="card-title">Card Title</span>
              <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
            </div>
          </div>
        </div>
        <div class="col s4 ">
          <div class="card white darken-1">
            <div class="card-content black-text">
              <span class="card-title">Card Title</span>
              <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
            </div>

          </div>
        </div>
      </div>


    </div>
    <br><br>
  </div>

  <footer class="page-footer white">
    <div class="footer-copyright">
      <div class="container">
        Kevin Tran 2019
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="static/js/materialize.js"></script>
  <script src="static/js/init.js"></script>

</body>

</html>