<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>ktran.info</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>

    <nav  id="adminNav" role="navigation">
    <div style="width:90%" class="nav-wrapper container">
      <a style="color:black" href="/">Kevin Tran</a>
      <ul class="right hide-on-med-and-down">
        <li><a style="color:lightgrey;" href="/portfolio">portfolio</a></li>
        <li><a style="color:lightgrey;"  href="/tutorials">tutorials</a></li>
        <li><a style="color:lightgrey;" href="https://github.com/5PK">github</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="./index.html">Home</a></li>
        <li><a href="#">Porfolio</a></li>
        <li><a href="#">Tutorials</a></li>
        <li><a href="./site/blog.html">Thoughts</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
    </nav>




  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
     

    </div>
  </div>


  <div class="container">
    <div class="section">
      <div style="padding:50px" class="row center">
        <h5 class="header col s12 light">My thoughts, and a public journal. All about travel, work and life.</h5>
       
  
      </div>
      <div style="width:80%; text-align:left" class="row center">
        {% for post in posts %}
            {% include '_post.html' %}
        {% endfor %}
      </div>
    </div>

  </div>




  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="static/js/materialize.js"></script>
  <script src="static/js/init.js"></script>
  <script src="static/js/thoughts.js"></script>
</body>

</html>
